{% assign created =  time | date: '%s' %}
{% assign today =  "now" | date: '%s' %}
{% comment %}
  difference in seconds
{% endcomment %}
{% assign diffSeconds = today | minus: created %}
{% comment %}
  difference in days
{% endcomment %}
{% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}
{%- if diffDays <= 30 -%}
  {% assign fonts = 'text-xl' %}
  {%- if font -%}
    {% assign fonts = font %}
  {%- endif -%}
  <span class="{{ fonts }} font-bold tracking-wide text-green-100 uppercase font-bn">New</span>
{%- endif -%}