<div class="flex justify-between">
  <div class="flex text-xl font-bold product-prices font-bn product-prices--summary" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
    {%- if cv.compare_at_price > 0 -%}
      <p class="mr-2 text-gray-400 product-prices__price product-prices__price--original">
        <s>{{ cv.compare_at_price | money }}</s>
      </p>
    {%- endif -%}
    <p class="{% if cv.compare_at_price > 0 %} text-red-50 font-semibold {% endif %} product-prices__price product-prices__price--discounted">
      <span>
        <meta content="USD" itemprop="priceCurrency">
        <meta content="1.5" itemprop="price">
        {{ cv.price | money }}
        <link href="https://schema.org/InStock" itemprop="availability">
      </span>
    </p>
  </div>

  {% if is_review %}
    <div class="trustpilot-widget" data-businessunit-id="593eff810000ff0005a46e0a" data-locale="en-US" data-no-reviews="hide" data-scroll-to-list="true" data-sku="75285" data-star-color="#6EAE9F" data-style-height="24px" data-style-width="100%" data-template-id="577258fb31f02306e4e3aaf9" data-text-color="#6a747c" data-theme="light" style="position: relative;">
      <iframe title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/577258fb31f02306e4e3aaf9/index.html?businessunitId=593eff810000ff0005a46e0a&amp;templateId=577258fb31f02306e4e3aaf9#locale=en-US&amp;noReviews=hide&amp;scrollToList=true&amp;sku=75285&amp;starColor=%236EAE9F&amp;styleHeight=24px&amp;styleWidth=100%25&amp;textColor=%236a747c&amp;theme=light" style="position: relative; height: 24px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe>
      <iframe title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/577258fb31f02306e4e3aaf9/popup.html?businessunitId=593eff810000ff0005a46e0a&amp;templateId=577258fb31f02306e4e3aaf9#locale=en-US&amp;noReviews=hide&amp;scrollToList=true&amp;sku=75285&amp;starColor=%236EAE9F&amp;styleHeight=24px&amp;styleWidth=100%25&amp;textColor=%236a747c&amp;theme=light" style="position: absolute; z-index: 99; top: 25px; height: 202px; width: 100%; min-width: 120px; border-style: none; display: none; overflow: hidden;"></iframe>
    </div>
  {% endif %}
</div>