<div class="product-details__quantity-pricing">
  <table class="table table--enhanced">
    <tbody>
      <tr>
        <th>
          <span>Qty</span>
        </th>
        <td>
          1
        </td>
        <td>
          20
        </td>
        <td>
          50
        </td>
      </tr>
      <tr>
        <th>
          <span>Each</span>
        </th>
        <td>
          $4.79
        </td>
        <td>
          $4.79
        </td>
        <td>
          $4.79
        </td>
      </tr>
    </tbody>
  </table>
</div>