<div class="container mb-10">
  <div class="product-detail-container__section">
    <div class="product-detail-container__section">
      <div class="content-block--text content-block--full-bleed" id="content-block">
        <div class="text-content-block">

          <h2 class="text-center uppercase heading">
            Product Reviews
          </h2>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content-block--html" id="content-block">
          <div class="html-content-block">
            <!-- TrustBox widget - Product Reviews MultiSource SEO -->
            <div class="trustpilot-widget" data-businessunit-id="593eff810000ff0005a46e0a" data-font-family="Montserrat" data-link-color="#F36E60" data-locale="en-US" data-name="Jade Character Trophy - Round" data-no-reviews="hide" data-review-languages="en" data-sku="75285" data-star-color="#6EAE9F" data-style-height="700px" data-style-width="100%" data-template-id="5763bccae0a06d08e809ecbb" data-text-color="#6A747C" data-theme="light" style="position: relative;">
              <iframe title="Customer reviews powered by Trustpilot" loading="auto" src="https://widget.trustpilot.com/trustboxes/5763bccae0a06d08e809ecbb/index.html?businessunitId=593eff810000ff0005a46e0a&amp;templateId=5763bccae0a06d08e809ecbb#fontFamily=Montserrat&amp;linkColor=%23F36E60&amp;locale=en-US&amp;name=Jade%20Character%20Trophy%20-%20Round&amp;noReviews=hide&amp;reviewLanguages=en&amp;sku=75285&amp;starColor=%236EAE9F&amp;styleHeight=700px&amp;styleWidth=100%25&amp;textColor=%236A747C&amp;theme=light" style="position: relative; height: 500px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe>
            </div>
            <!-- End TrustBox widget -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>