<div class="py-{{ section.settings.py }}">
  <div class="container">
    <div class="flex mb-0 -mx-3">
      {%- for block in section.blocks -%}
        {% assign image = block.settings.image %}
        <div class="{{ section.settings.row }} px-3 relative">
          {% assign image = block.settings.image %}
          {% render 'image', image: image, url: block.settings.url %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "t:sections.hero.name",
    "class": "shopify-multiple-image",
    "max_blocks": 4,
    "settings": [
      {
        "type": "select",
        "id": "row",
        "label": "Image Per Row",
        "default": "w-1/2",
        "options": [
          {
            "value": "w-1/2",
            "label": "2"
          }, {
            "value": "w-4/12",
            "label": "3"
          }, {
            "value": "w-3/12",
            "label": "4"
          }
        ]
      }, {
        "type": "header",
        "content": "Adjust padding"
      }, {
        "type": "range",
        "label": "Padding Top/Botom",
        "id": "py",
        "min": 0,
        "max": 96,
        "step": 1,
        "default": 10
      }

    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:common.image"
          }, {
            "type": "url",
            "id": "url",
            "label": "Image Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.hero.name",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          }, {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}