<div class="py-10 text-center pink-cta-text">
  <div class="container">
    <h3 class="mb-8 text-5xl text-center primary-color">{{ section.settings.title }}</h3>
    <div class="flex flex-wrap -mx-6">

      {% for block in section.blocks %}
        {% render 'collection-card' block: block %}
      {% else %}
        {% for i in (1..3) %}
          <div class="w-full px-6 md:w-1/3 mb-6 md:mb-0">
            {% capture placeholder %}product-{{ i }}{% endcapture %}
            {{ placeholder | placeholder_svg_tag: 'w-full h-full border' }}
          </div>
        {% endfor %}
      {% endfor %}

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "t:sections.collections.name",
    "class": "shopify-section-vue",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:common.text",
        "default": "Shop Our Latest Products"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "id": "collection",
            "label": "t:common.collection",
            "type": "collection",
            "info": "Select a collection"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Collection Image",
            "info": "Select a collection image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "(Optional) Default will be selected collection title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.collections.name",
        "category": "Collection"
      }
    ]
  }
{% endschema %}