{% assign image = section.settings.image %}
<div class="fullwidth-banner relative py-{{ section.settings.py }}">
  {% render 'image', image: image, url: section.settings.button-url %}
</div>


{% schema %}
  {
    "name": "t:sections.banner.name",
    "class": "shopify-section-vue",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:common.image"
      }, {
        "type": "url",
        "id": "button-url",
        "label": "t:common.button.url"
      }, {
        "type": "header",
        "content": "Adjust padding"
      }, {
        "type": "range",
        "label": "Padding Top/Botom",
        "id": "py",
        "min": 0,
        "max": 96,
        "step": 1,
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "t:sections.banner.name",
        "category": "Image"
      }
    ]
  }
{% endschema %}