{% assign collection = collections[section.settings.collection_featured] %}
<div class="py-10 text-center pink-cta-text">
  <div class="container">
    <h3 class="mb-8 text-5xl text-center primary-color">{{ section.settings.title }}</h3>
    <div class="flex -mx-6">
      {% unless collection == blank %}
        {% for product in collection.products limit: 3 %}
          {% render 'product-card' product_card: product %}
        {% endfor %}
      {% else %}
        {% for i in (1..3) %}
          <div>
            {% capture placeholder %}product-{{ i }}{% endcapture %}
            {{ placeholder | placeholder_svg_tag: 'w-full h-full border' }}
          </div>
        {% endfor %}
      {% endunless %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "t:sections.collection.name",
    "class": "shopify-section-vue",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:common.text",
        "default": "Shop Our Latest Products"
      }, {
        "type": "collection",
        "id": "collection_featured",
        "label": "t:common.collection"
      }
    ],
    "presets": [
      {
        "name": "t:sections.collection.name",
        "category": "Collection"
      }
    ]
  }
{% endschema %}