<!-- Load Vue app here -->
<div id="app"></div>


<!-- built files should not be will be auto injected, we manually add them here -->
<script defer="defer" src="{{ 'chunk-vendors.js' | asset_url }}"></script>
<script defer="defer" src="{{ 'index.js' | asset_url }}"></script>

<!-- maybe we should add it to the "head" section of our layout file -->
<link href="{{ 'index.css' | asset_url }}" rel="stylesheet">